<div class="row">
<div class="large-12 columns">
<h2 id="title">Welcome to HTTP response and error validator:</h2>
<br>
The goal of this ember app is to validate your HTTP response and error code handlers...
<br>
<br>
{{outlet}}
</div>
</div>
