<div class="row">
<div class="large-12 columns">
<h2 id="title">Welcome to HTTP error validator:</h2>
<br>
Goal of this web is to validate your HTTP error handlers...
<br>
<br>
{{outlet}}
</div>
</div>
